.menu-search {
    float: right;
    display: block;
    width: auto;
    height: 50px;
}
.sf-menu > li.dropdown {
    cursor:pointer;
}
.menu-search ul.sf-menu {
    width:auto;
    padding: 10px 0;
    min-width:126px;
}
.menu-search ul.sf-menu li li:hover ul,
.menu-search ul.sf-menu li li.sfHover ul {
    left: 12em; /* match ul width */
    top: 0;
}
.cart {
    display: block;
    margin-top: 86px;
}

.cart h1{
    font-size: 21px;
}
.sf-menu > li > a {
    font: 14px/20px 'Alice', serif;
    color: #77a081;
    padding: 7px 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #2f643d;
}
   /* Footer */
footer {
    border-top: 1px solid #c5c5c5;
    padding:18px 0;
    margin-top: 50px;
    background-color: #f3f8f4;
    height: 68px;
}
.list-soc {
    float:left;
}
.list-soc li {
    float:left;
    margin-right:5px;
}
.policy {
    text-transform: uppercase;
    font-size:11px;
    line-height:16px;
    float:right;
    text-transform: uppercase;
    word-spacing:2px;
    margin-top: -15px;
    color: #607766;
}
.policy a {
    color: #607766;
}
.policy a:hover {
    color:#58a81d;
    text-decoration:underline;
}
.br-h {
    display: none;
}
.powered-by{
    text-align:right;
    font-size:7px;
}
.language-ksl {
    float: right;
}
